<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
  <body>
    <p><a href="/reg">注册</a></p>
	<p><a href="/login">登录</a></p>
  </body>
</html>